body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

body a {
    text-decoration: none;
    color: #fff;
}

.background-image {
    position: relative;
}

.background-image::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('/assets/lcvbg.jpg');
    background-size: cover;
    background-position: center center;
    filter: blur(5px);
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(5, 5, 70);
    color: #fff;
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo-title {
    max-width: 100%;
    transition: max-width 0.3s ease, padding 0.3s ease;
}

.logo {
    width: 300px;
    height: auto;
    margin-left: 10px;
    display: block;
    margin: 0 auto;
    transition: max-width 0.3s ease
}

nav {
    display: flex;
    align-items: center;
    background-color: rgb(5, 5, 70);
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

nav a:hover {
    text-decoration: double;
    background-color: cyan;
    color: black;
    box-shadow: 0px 0px 10px rgb(121, 205, 253);
}

.contact {
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 20px;
    font-weight: bold;
    color: rgb(13, 13, 54);
    backdrop-filter: blur(10px);
    /* border-radius: 15px; */
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.email,
.phone {
    display: flex;
    align-items: center;
}

.email>i {
    margin-left: 50px;
}

.email>span {
    margin-left: 20px;
}

.phone {
    margin-left: auto;
    /* Push the phone info to the right */
}

.phone>i {
    margin-right: 20px;
}

.phone>span {
    margin-right: 50px;
}

.info {
    width: 800px;
    width: 80%;
    margin: 20px auto 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
}

.college-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px;
}


/* .lcv-logo{
    text-align: center;
}        */

.lcv-logo img {
    max-width: 100px;
    height: auto;
    margin-left: 250px;
}

.head-container {
    margin-left: 20px;
}

.info h1 {
    text-align: center;
    margin: 0;
    font-size: 35px;
    color: rgb(13, 13, 54);
    line-height: 0.8;
}

.info h1 span {
    font-size: 20px;
    color: black;
}

.project .project-head h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(36, 97, 209);
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 #000, /* Top-left shadow */
    1px -1px 0 #000, /* Top-right shadow */
    -1px 1px 0 #000, /* Bottom-left shadow */
    1px 1px 0 #000;
    /* Bottom-right shadow */
    ;
}

.project article {
    margin: 0 auto;
    padding: 20px;
}

.project article p {
    text-indent: 70px;
}

article p {
    font-weight: bold;
    line-height: 1.5;
    font-size: large;
}

figure {
    text-align: center;
}

figure img {
    width: 500px;
    height: 350px;
    border-radius: 5px;
    display: block;
    box-shadow: 2px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

article .head {
    margin: 0;
    font-size: 35px;
    color: rgb(13, 13, 54);
    font-weight: bold;
    margin-top: 25px;
    text-decoration: underline;
}

article h2 {
    color: rgb(48, 2, 2);
    padding: 10px;
}