<html>

<head>
    <title class="scrolling-title">Loyola College | Admin Dashboard</title>
</head>

<body>
    <div class="left-navbar">
        <a (click)="authService.navigate('/admin-page/student-editor')">Student Details</a>
        <a (click)="authService.navigate('/admin-page/auth-editor')">Authentication Details</a>
        <a (click)="authService.navigate('/admin-page/election-editor')">Election Details</a>
        <a (click)="authService.navigate('/admin-page/student-result')">Election Result Details</a>
    </div>
    <div class="top-navbar">
        <a href="/admin-page">
            <h1>Admin Dashboard</h1>
        </a>
        <button onclick="">LOG OUT</button>
    </div>
    <main>
        <div class="grid-container">
            <div class="grid-item" id="student">
                <a href="/admin-page/student-editor"></a>
                <h1>Student Details</h1>
                <img src="assets/student-icon.jpg" alt="student-icon">
                <p>
                    <br> Number of Departments: <b>08</b><br> Number of Students: <b>1024</b>
                </p>
            </div>
            <div class="grid-item" id="election">
                <a href="/admin-page/election-editor"></a>
                <h1>Election Details</h1>
                <img src="assets/admin-page/election-icon.png" alt="election-icon">
                <p><br> Number of Elections: <b>05</b><br> Number of Candidates: <b>25</b>
                </p>
            </div>

            <div class="grid-item" id="auth">
                <a href="/admin-page/auth-editor"></a>
                <h1>Authentication Details</h1>
                <img src="assets/admin-page/auth-icon.png" alt="auth-icon">
                <p><br> Number of admin: <b>1</b><br> Number of users: <b>1024</b>
                </p>
            </div>
            <div class="grid-item" id="result">
                <a href="/admin-page/election-result"></a>
                <h1>Election Result Details</h1>
                <img src="assets/admin-page/result-icon.png" alt="result-icon">
                <p><br> Number of Elections: <b>05</b><br> Number of Candidates: <b>25</b>
                </p>
            </div>
        </div>
    </main>
</body>

</html>