<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
  </head>
  <body>
    <div class="top-navbar">
      <h1>Student Profile</h1>
      <button onclick="">LOG OUT</button>
  </div>
    <!-- student-profile.component.html -->
    <div class="student-profile py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent text-center">
                <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
                <h3>Nirmal I</h3>
              </div>
              <div class="card-body">
                <p class="mb-0"><strong class="pr-1">Department Number : </strong>21UCS14</p>
                <p class="mb-0"><strong class="pr-1">Degree Type : </strong>UG</p>
                <p class="mb-0"><strong class="pr-1">Department : </strong>Computer Science</p>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card shadow-sm">
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
              </div>
              <div class="card-body pt-0">
                <table class="table table-bordered">
                  <tr>
                    <th width="30%">Date Of Birth</th>
                    <td width="2%">:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th width="30%">Admission Year</th>
                    <td width="2%">:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th width="30%">Gender</th>
                    <td width="2%">:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th width="30%">Email-Id</th>
                    <td width="2%">:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th width="30%">Phone Number</th>
                    <td width="2%">:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th width="30%">Address</th>
                    <td width="2%">:</td>
                    <td><address></address></td>
                  </tr>
                </table>
              </div>
            </div>
            <div style="height: 26px"></div>
            <div class="card shadow-sm">
              <div class="card-header bg-transparent border-0">
                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Student Election</h3>
              </div>
              <div class="card-body pt-0">
                <p>
                  Every year, college campuses come alive with the spirited energy of student elections. As candidates eagerly declare their intentions, 
                  colorful campaign posters and catchy slogans adorn the campus, turning it into a vibrant arena of promises and aspirations. 
                  Debates and discussions amplify the excitement, providing students with a chance to understand the visions of their potential leaders. <br><br>
                  On election day, the campus buzzes with activity as students line up to cast their votes, contributing to the democratic process. 
                  Neutral monitors ensure fairness, preserving the integrity of the results. 
                  The announcement of winners is met with cheers, marking the beginning of a new chapter in student governance. <br><br>
                  Elected leaders step into their roles, ready to advocate for student needs and foster a sense of community. The transition of power is smooth, showcasing the maturity of the student body. Beyond the campaign fervor, these elections are a celebration of student engagement and collaboration, leaving a lasting impact on the college community. As the banners come down, the echoes of democracy linger, creating a legacy of active participation and shared responsibility.
                </p>
              </div>
              <!-- <button class="election-button">Election Available</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>