<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
</head>

<body>
    <div class="top-navbar">
        <h1>Student Profile</h1>
        <button onclick="" class="logout-btn">LOG OUT</button>
    </div>
    <!-- student-profile.component.html -->
    <div class="student-profile py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card shadow-sm">
                        <div class="card-header bg-transparent text-center">
                            <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp" />
                            <h3>Nirmal I</h3>
                        </div>
                        <div class="card-body">
                            <p class="mb-0">
                                <strong class="pr-1">Department Number : </strong>21UCS14
                            </p>
                            <p class="mb-0">
                                <strong class="pr-1">Degree Type : </strong>UG
                            </p>
                            <p class="mb-0">
                                <strong class="pr-1">Department : </strong>Computer Science
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card shadow-sm" style="margin-top: 30px">
                        <div class="card-header bg-transparent border-0">
                            <h3 class="mb-0">
                                <i class="far fa-clone pr-1"></i>Student Information
                            </h3>
                        </div>
                        <div class="card-body pt-0">
                            <table class="table table-bordered">
                                <tr>
                                    <th width="30%">Date Of Birth</th>
                                    <td width="2%">:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th width="30%">Admission Year</th>
                                    <td width="2%">:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th width="30%">Gender</th>
                                    <td width="2%">:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th width="30%">Email-Id</th>
                                    <td width="2%">:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th width="30%">Phone Number</th>
                                    <td width="2%">:</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th width="30%">Address</th>
                                    <td width="2%">:</td>
                                    <td>
                                        <address></address>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="height: 60px"></div>
                </div>
                <div class="col-lg-12">
                    <div class="card shadow-sm">
                        <div class="card-header bg-transparent border-0">
                            <h3 class="mb-0">
                                <i class="far fa-clone pr-1"></i>Student Election
                            </h3>
                        </div>
                        <div class="card-body select-election-container pt-0" *ngIf="showSelectElection">
                            <form class="col-lg-10 election-list">
                                <h1>Select Election & Vote</h1>
                                <select name="election-names" id="election-names" [(ngModel)]="selectedElection">
                                    <option [ngValue]="undefined" selected disabled>
                                        Select Election
                                    </option>
                                    <option *ngFor="let election of elctionNames" [value]="election">
                                        {{ election }}
                                    </option>
                                </select>
                                <button class="continue-btn" (click)="onSelectElection()">Continue</button>
                            </form>
                        </div>

                        <div class="voting-page" *ngIf="showVotingPage">
                            <div class="heading col-lg-12">
                                <h2>Sports Secratery Candidates</h2>
                                <button class="back-btn" (click)="onClickBackButton()">Back</button>
                            </div>
                            <div class="table-container col-lg-10">
                                <table class="table table-bordered" id="voting-table">
                                    <tr>
                                        <th style="width: 17%">Candidate ID</th>
                                        <th style="width: 30%">Candidate Profile</th>
                                        <th>Candidate Name</th>
                                        <th>Vote</th>
                                    </tr>
                                    <tr *ngFor="let candidate of candidates">
                                        <td>{{candidate.candidateId}}</td>
                                        <td>
                                            <img src="assets/student-editor/student-profile.jpg " alt=" " />
                                        </td>
                                        <td>{{candidate.candidateName}}</td>
                                        <td>
                                            <label>
                                                <input type="radio" 
                                                class="option-input radio" 
                                                name="vote" 
                                                [(ngModel)]="selectedCandidateId" 
                                                [value]="candidate.candidateId" 
                                                (change)="onSelectCandidateId()"
                                                [disabled]="hasVoted"/>
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                                <button *ngIf="!hasVoted" class="vote-btn" (click)="onClickVote()">Vote</button>
                                <button *ngIf="hasVoted" class="vote-btn">You're Voted</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>