<html>
    <body>
        <div class="container">
            <div class="left-navbar">
                <a href="/admin-page/student-editor">Student Details</a>
                <a href="/admin-page/auth-editor">Authentication Details</a>
                <a href="/admin-page/election-editor">Election Details</a>
                <a href="/admin-page/result-editor">Election Result Details</a>
            </div>
            <div class="top-navbar">
                <a href="/admin-page"><h1>Admin Dashboard</h1></a>
                <button onclick="">LOG OUT</button>
            </div>
            <div class="content-container">
                <div class="btn-container">
                    <button class="add-student-btn" (click)="openAddStudentForm()">+ Add Student</button>
                   
                </div>
                <div class="option-container">
                    <select class="option-picker" id="degreeType" aria-placeholder="Degree Type">
                        <option value="" disabled selected>Degree Type</option>
                        <option *ngFor="let type of degreeTypeOptions" [value]="type">{{ type }}</option>            
                    </select>
                    <select class="option-picker" id="department">
                        <option value="" disabled selected>Department</option>
                        <option *ngFor="let dept of departmentOptions" [value]="dept">{{ dept }}</option>
                    </select>
                    <select class="option-picker" id="admissionYear">
                        <option value="" disabled selected>Admission Year</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                   </select>
                    <button class="search-btn">Search</button>
                </div>
            </div>
            <div *ngIf="studentList.length > 0; else noStudents" class="student-table-container" #tableContainer>

                <table class="student-table">
                    <thead>
                        <tr>
                            <th>S. No</th>
                            <th>Dept. No.</th>
                            <th>Name</th>
                            <th>Date Of Birth</th>
                            <th>Gender</th>
                            <th>Admission Year</th>
                            <th>Degree Type</th>
                            <th>Department</th>
                            <th>Email-Id</th>
                            <th>Phone Number</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let student of studentsToShow; let i = index">
                             
                                <tr>
                                    <td>{{((currentPage - 1) * studentsPerPage) + i + 1 }}</td>
                                    <td>{{ student.deptNo }}</td>
                                    <td style="text-align: left;">{{student.studentName}}</td>
                                    <td>2004-06-12</td>
                                    <td>{{student.gender}}</td>
                                    <td>{{ student.admissionYear }}</td>
                                    <td>{{ student.degreeType }}</td>
                                    <td>{{student.department}}</td>
                                    <td>{{student.emailId}}</td>
                                    <td>{{student.phoneNumber}}</td>
                                    <td  style="text-align: left;"><address>{{student.address}}</address></td>
                                    <td>
                                        <button class="modify-student-btn"><img src="assets/student-editor/modify.png" alt="del"></button>
                                        <button class="remove-student-btn" (click)="openDeleteConfirmation(student.deptNo)">
                                            <img src="assets/student-editor/delete.png" alt="modify">
                                        </button>
                                    </td>
                                </tr>
                        </ng-container>
                        
                    </tbody>
                </table>
                <br>
        
            </div>
            <div *ngIf="showPagination" class="pagination">
                <ng-container *ngFor="let page of pages">
                  <button class="page-btn" (click)="goToPage(page)" [class.active]="page === currentPage">{{ page }}</button>
                </ng-container>
            </div>
            <ng-template #noStudents>
                <p>No students found.</p>
            </ng-template>
            <!-- Add student form -->
            <div class="add-student-form" *ngIf="showAddStudentForm">
                <div class="scrollable-container">
                    <div class="form-box">
                        <h2>New Student</h2>
                        <form (ngSubmit)="submitAddStudentForm()">
                            <label for="studentName">Student Name : </label>
                            <input type="text" name="studentName" [(ngModel)]="studentRequest.studentName" id="studentName" required>
                            <br><br>
                            <label for="dateOfBirth">Date Of Birth : </label>
                            <input type="date" name="dateOfBirth" [(ngModel)]="studentRequest.dateOfBirth" id="dateOfBirth" required>
                            <br><br>
                            <label for="gender">Gender</label>
                            <div *ngFor="let gender of genderOptions">
                                <label>
                                    <input
                                    type="radio"
                                    name="gender"
                                    [(ngModel)]="studentRequest.gender"
                                    [value]="gender"
                                    />
                                    {{ gender }}
                                </label>
                            </div>
                            <br><br>
                            <label for="admissionYear">Admission Year : </label>
                            <select class="option-picker" id="admissionYear">
                                <option value="" disabled selected>Admission Year</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                           </select>
                           <br><br>
                            <label for="degreeType">Degree Type : </label>
                            <select class="option-picker" id="degreeType" aria-placeholder="Degree Type">
                                <option value="" disabled selected>Degree Type</option>
                                <option *ngFor="let type of degreeTypeOptions" [value]="type">{{ type }}</option>            
                            </select>
                            <br><br>
                            <label for="department">Department: </label>
                            <select class="option-picker" id="department">
                                <option value="" disabled selected>Department</option>
                                <option *ngFor="let dept of departmentOptions" [value]="dept">{{ dept }}</option>
                            </select>
                            <br><br>
                            <label for="emailId">E-mail Id : </label>
                            <input type="email" name="emailId" [(ngModel)]="studentRequest.emailId" id="emailId" required>
                            <br><br>
                            <label for="phoneNumber">Phone Number : </label>
                            <input type="phoneNumber" name="phoneNumber" [(ngModel)]="studentRequest.phoneNumber" id="phoneNumber" required>
                            <br><br>
                            <button type="button" (click)="cancelAddStudentForm()">Cancel</button>
                            <button type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Delete Confirmation Popup -->
            <div class="delete-confirmation" *ngIf="showDeleteConfirmation">
                <div class="confirmation-box">
                    <p>Are you sure you want to delete this student {{studentDeptNo}}?</p>
                    <button (click)="cancelDelete()">Cancel</button>
                    <button (click)="confirmDelete()">Delete</button>
                </div>
            </div>
        </div>
    </body>
</html>