<html>
    <head>
        <title>Loyola College | Admin Dashboard | Student Details</title>
    </head>

    <div class="nav-bar">
        <div class="left-navbar">
            <a href="/admin-page/student-editor">Student Details</a>
            <a href="/admin-page/auth-editor">Authentication Details</a>
            <a href="/admin-page/election-editor">Election Details</a>
            <a href="/admin-page/candidate-editor">Candidates Details</a>
            <a href="/admin-page/election-result">Election Result Details</a>
        </div>
        <div class="top-navbar">
            <div class="top-nav-heading">
                <a href="/admin-page"><h1>Admin Dashboard</h1></a>
            </div>

            <div class="top-nav-btns">
                <a href="/home" class="home-btn">HOME</a>
            <a href="/home" class="logout-btn">LOGOUT</a>
            </div>
        </div>
    </div>
</html>