body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.container {
    display: flex;
    position: relative;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.top-navbar a {
    text-decoration: none;
}
.top-navbar h1 {
    color: rgb(5, 5, 70);
    margin-left: 40px;
    padding: 5px;
}
.top-navbar h1:hover {
    text-shadow: 0px 0px 3px rgb(97, 97, 97);;
}

.top-navbar button {
    color: white;
    background-color: red;
    border: none;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    margin-right: 40px;
    padding: 8px 15px;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

button:hover {
    text-decoration: double;
    font-weight: bold;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
}

.left-navbar {
    width: 220px;
    height: 100vh;
    background-color: #333;
    position: fixed;
    color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    z-index: 1;
}

.left-navbar a {
    color: white;
      text-decoration: none;
      display: block;
      padding: 15px;
      margin-left: 0;
      text-align: center;
      line-height: 1.5;
      box-sizing: border-box;
      margin-bottom: 30px;
      border-radius: 2px;
      transition: box-shadow 0.3s;

}
.left-navbar a:first-child {
    margin-top: 98px;
}
.left-navbar a:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    color: rgb(5, 5, 70);
    font-weight: bold;
}


.content-container {
    display: flex;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 78px;
    align-items: center;
    background-color: #fff;
    text-align: center;
}

.container .option-container {
    position: absolute;
    right: 0;
}
.add-student-btn {
    color: white;
    background-color: rgb(10, 184, 19);
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 240px;
    margin-right: 20px;
    border: none;
}
.add-student-btn:hover {
    background-color: rgb(4, 158, 12);
    cursor: pointer;
    box-shadow: 0px 0px 5px green;
}


/* .option-container {
    position: fixed;
    right: 110px;
} */
.option-picker {
    margin-right: 10px;
    padding: 9px;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    font-weight: bold;
}

.search-btn {
    color: white;
    background-color: #007bff;
    border: none;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 20px;
}

.search-btn:hover {
    background-color: #0056b3;
    cursor: pointer;
    box-shadow: none;
}

.student-table-container {

    font-family:  'Roboto', 'Lato', 'Open Sans';
    position: absolute;
    top: 150px;
    left: 220px;
    margin-bottom: 25px;
    flex-grow: 1; /* This ensures that the table container takes the remaining space */
    padding-top: 20px;
    padding-left: 10px;
    /* margin-top: 150px;
    margin-left: 220px; */
    /* margin-bottom: 40px; */
    z-index: -2;
}


.student-table {
    width: 100%;
    border-collapse: collapse;
    z-index: -1;
}

.student-table th, .student-table td {
    border: 1px solid #ddd;
    white-space: nowrap;
    padding: 8px;
    text-align: center;
}

.student-table td {
    font-size: 15px;
}

.student-table th {
    text-align: center;
    background-color: #f2f2f2;
}

.student-table {
    position: relative;
}
td:last-child {
    position: sticky;
    right: 0;
    background-color: #fff; /* Adjust background color as needed */
    z-index: 2; /* Ensure the sticky column is visually behind the buttons */
  }
  
  td:last-child button {
    border: none;
    position: relative; /* Adjust button position within the sticky column */
    z-index: 3; /* Ensure the buttons are above the sticky column */
    transition: box-shadow 0.3s;

  }



.modify-student-btn {
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
}

.modify-student-btn img {
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
}

.remove-student-btn {
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.remove-student-btn img {
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
}

.modify-student-btn:hover {
    background-color: #0056b3;
    cursor: pointer;
    box-shadow: 0px 0px 5px blue;
}
.remove-student-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px red;
}



  /* ... existing styles ... */

.pagination {
    position: fixed;
    bottom: 0;
    width:calc( 100% - 220px);
    left: 220px;
    height: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 2;
    background-color: #fff;
    /* box-shadow: 0px 0px 10px rgb(0, 0, 0); */
    display: flex;
}

.pagination button {
    margin: 0;
    padding: 8px 15px;
    background-color: white;
    color: darkblue;
    border: darkblue;
    outline: #0056b3;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms;
    margin-left: 10px;
}

.pagination button.active {
    background-color: #0351a5;
    border: none;
}

/* Delete Confirmation Styles */
.delete-confirmation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

    .confirmation-box {
        background-color: wheat;
        font-size: 25px;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        justify-content: center;
    }

    .confirmation-box p {
        margin-bottom: 10px;
        font-weight: bold;
        color: darkred;
        padding: 30px;
    }

    .confirmation-box button {
        margin: 20px;
        width: 100px;
        height: 40px;
        margin-bottom: 30px;
        padding: 8px 16px;
        font-size: 15px;
        background-color: #fff;
        cursor: pointer;
        border-radius: 5px;
        transition: box-shadow 0.3s;
        transition: all 0.3s;
        border-width: 1px;
        font-weight: bold;
    }

    .confirmation-box .deleteButton:hover {
        box-shadow: 0px 0px 10px black;
        background-color: red;
        color: white;
        border: none;
    }
    .confirmation-box .cancelButton:hover {
        box-shadow: 0px 0px 10px black;
        background-color: lightgreen;
        border: none;
    }
/* Add Student Form Styles */
.add-student-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    transition: 100000ms;
  }
  
  .scrollable-container {

    height: 100%;
    width: 100%;
  }
  
  .form-box {
    text-align: left;
     /* Align form controls to the left */
  }
  
  /* Add some basic styling to the form container */

/* Style the form-box */
.form-box {
    height: 100vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 200px; */
    position: relative;
}
.form-box form {
    position: fixed;
    top: 30px;
}
 .form-box form h1 {
    text-align: center;
    /* font-sizepx; */
    margin-bottom: 20px;
}

/* Style labels */
.form-box #label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
}



/* Style input fields */
.form-box input, select {
    width: 230px; /* Adjust the width as needed */
    padding: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    border-color: black;
    border: none;
    outline: none;
    color: rgb(13, 13, 54);
    transition: box-shadow 0.3s ease;
    font-weight: bold;
}

.form-box input:focus, select:focus {
    box-shadow: 0 0 10px rgb(13, 13, 54);
}
.form-box input::placeholder {
    color: grey;
}

#defaultOption {
    color: gray;
}
.gender label  {
    margin-bottom: 0px;
    margin-left: 30px;
    font-weight: bold;
}


/* Style radio buttons */
div[for="gender"] {
    margin-bottom: 0px;
}

.gender-options {
    display: flex;
}

.gender {
    margin-right: 10px;
    margin-top: 20px; /* Adjust this value as needed for spacing */
}

.gender input {
    width: 15px;
}

.gender-options label#genderLable{
    width: 200px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: right;
}
/* Style buttons */
.form-box form .save-button {
    height: fit-content;
    width: 100px;
    padding: 10px;
    margin: 15px;
    cursor: pointer;
    background-color: rgb(5, 150, 5);
    position: fixed;
    left: 47%;
}



.form-box form img{
    position: fixed;
    top: 0;
    right: 0;
    width: 20px;
    /* height: 20px; */
    cursor: pointer;
    padding: 10px;
}

.form-box form img:hover {
    box-shadow: 0px 0px 5px #333;
}
