body {
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-image: url('/assets/admin-bg.jpg');
    background-position: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    color: rgb(13, 13, 54);
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
}

.form-container {
    text-align: center;
    justify-content: center;
    /* margin-right: 70px;  */
    color: rgb(13, 13, 54);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 350px;
    height: 400px;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 2px;
    border-color: black;
}

form h1 {
    margin-top: 50px;
    /* font-size: 40px; */
}

form input {
    padding: 10px;
    width: 60%;
    margin: 10px;
    border-radius: 5px;
    border-color: black;
    font-size: 16px;
    text-align: center;
    border: none;
    outline: none;
    color: rgb(13, 13, 54);
    transition: box-shadow 0.3s ease;
}

input:focus {
    box-shadow: 0 0 10px rgb(13, 13, 54);
}

#username {
    margin-top: 45px;
}

button {
    font-size: 18px;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    outline: none;
    color: rgb(13, 13, 54);
    margin-top: 27px;
    transition: box-shadow 0.3s ease;
}

button:hover {
    background-color:rgb(13, 13, 54);
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px #fff;
}