body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.top-navbar {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    z-index: 1000;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(5, 5, 70);
}

.top-nav-btns a {
    position: relative;
    width: fit-content;
    color: black;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: large;
    transition: all 0.3s ease;
    /* Adding a smooth transition effect */
}

.top-nav-btns a::after,
.top-nav-heading a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: darkblue;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
    /* Adding a smooth transition effect */
}

.top-nav-btns a:hover::after,
.top-nav-heading a:hover::after {
    width: 100%;
}

.top-nav-btns a:hover::after {
    width: 100%;
}

.top-navbar .top-nav-heading a h1 {
    margin-left: 20px;
}

#logout::after {
    background-color: red;
}

#logout:hover {
    color: red;
}

.top-nav-btns {
    width: 15%;
    display: flex;
    justify-content: space-around;
}


/* .top-nav-btns  */

.left-navbar {
    width: 220px;
    height: 100vh;
    background-color: #333;
    position: fixed;
    color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    z-index: 1;
}

.left-navbar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    width: 90%;
    margin-left: 10px;
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-radius: 2px;
    transition: box-shadow 0.3s;
}

.left-navbar a:first-child {
    margin-top: 98px;
}

.left-navbar a:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    color: rgb(5, 5, 70);
    font-weight: bold;
}

.left-navbar a[href="/admin-page/auth-editor"] {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    color: rgb(5, 5, 70);
    font-weight: bold;
}

.user-role-nav {
    position: sticky;
    top: 74px;
    width: calc(100% - 220px);
    height: 70px;
    /* margin-top: 70px; */
    margin-left: 220px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 0 0 5px black;
}

.users,
.roles {
    position: absolute;
    height: 50px;
    width: 48.5%;
    flex: 1;
}

.user-role-nav button {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border: black;
    color: white;
    background-color: #333;
    border-radius: 15px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

.user-role-nav button:hover {
    box-shadow: 0 0 5px grey;
}

.users {
    /* box-shadow: 5px 0 -5px -4px rgba(0, 0, 0, 0.5); */
    left: 0;
    margin-right: 5px;
}

.roles {
    /* box-shadow: -5px 0 5px -4px rgba(0, 0, 0, 0.5); */
    right: 20px;
    margin-left: 5px;
}

.clicked button {
    color: black;
    background-color: white;
    box-shadow: 0 0 2px white;
    /* text-shadow: 0 0 2px black; */
}

.user-side {
    position: relative;
    width: calc(100% - 220px);
    height: 100vh;
    left: 220px;
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: center;
    /* display: none; */
    /* width: calc(100% - 220px);
    
    background-color: lightcoral;
    position: fixed;
    left: 220px;   */
}

.users-find-btn {
    position: relative;
    /* width: calc(100% - 220px); */
    height: 70px;
    margin-left: 220px;
    /* background-color: lightskyblue; */
    display: flex;
    align-items: center;
    top: 20px;
}

.users-find-btn .view-users {
    position: absolute;
    background-color: rgb(27, 188, 241);
    width: 28%;
    left: 30px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.remove-user {
    position: absolute;
    right: 25px;
    /* background-color: rgb(252, 40, 40); */
    width: 28%;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-user button {
    padding: 10px;
    margin: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background-color: red;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.remove-user input {
    padding: 12px;
    width: 130px;
    border-radius: 5px;
    border-color: black;
    font-size: 15px;
    text-align: left;
    letter-spacing: 1px;
    /* border: none; */
    outline: none;
    border-color: lightgrey;
    border-width: 1px;
    font-weight: bold;
    color: rgb(13, 13, 54);
    transition: box-shadow 0.3s ease;
}

.user-side form {
    position: absolute;
    width: 30%;
    height: fit-content;
    padding-bottom: 50px;
    top: calc(50vh - 249px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    align-items: center;
    transition: 300ms;
    /* justify-content: center; */
}

form:hover {
    box-shadow: 0 0 10px black;
}

.user-side .add-user-form-container form {
    left: 25px;
    background-color: lightgreen;
}

.user-side .update-user-form-container form {
    left: 35%;
    background-color: lightblue;
}

.user-side .find-user-form-container form {
    right: 25px;
    background-color: rgb(248, 123, 101);
}

.user-side form h2 {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    /* text-shadow: 0px 0px 2px black; */
}

.user-side form input,
select {
    padding: 10px;
    width: 60%;
    margin: 20px;
    border-radius: 5px;
    border-color: black;
    font-size: 16px;
    text-align: left;
    letter-spacing: 1px;
    border: none;
    outline: none;
    font-weight: bold;
    color: rgb(13, 13, 54);
    transition: box-shadow 0.3s ease;
}

.user-side form select:first-child {
    color: grey;
}

input:focus {
    box-shadow: 0 0 10px rgb(13, 13, 54);
}

.user-side form select,
option {
    width: 66%;
    font-size: 16px;
    text-align: left;
}

.user-side form #username {
    margin-top: 12%;
}

.user-side form button {
    width: 28%;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 55px;
}

.user-side form .save-btn {
    background-color: rgb(34, 189, 34);
    color: #ffffff;
}

button:hover {
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.user-side .find-user-form-container #find-username {
    margin-top: 12%;
    margin-bottom: 10px;
}

.user-side form .find-btn {
    margin: 0;
    background-color: rgb(25, 103, 204);
    color: #ffffff;
    width: 100px;
    height: fit-content;
    padding: 10px;
}

.find-user-para {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1cm;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 55px;
}

.view-all-users {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    z-index: 3;
    transition: 100000ms;
}

.view-all-users a>.close-icon {
    position: fixed;
    top: 0;
    right: 0;
    width: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 20px;
}

.view-all-users a>img:hover {
    box-shadow: 0 0 5px #333;
}

.view-all-users .users-table-container {
    font-family: 'Roboto', 'Lato', 'Open Sans';
    width: 40%;
    position: absolute;
    top: 25%;
    margin-bottom: 25px;
    flex-grow: 1;
    padding-top: 20px;
    padding-left: 10px;
}

.view-all-users table {
    width: 100%;
    border-collapse: collapse;
    z-index: -1;
}

.view-all-users table th,
td {
    /* width: 200px; */
    border: 1px solid black;
    color: whitesmoke;
    white-space: nowrap;
    letter-spacing: 1px;
    padding: 10px;
    text-align: center;
}

.view-all-users table th {
    font-size: 18px;
    font-weight: bold;
    color: black;
    /* text-shadow: 0 0 5px black; */
}

.view-all-users h1 {
    position: absolute;
    padding: 30px;
}

.view-all-users .filter-container {
    position: relative;
    top: 15%;
    width: 40%;
    height: 70px;
    display: flex;
    align-items: center;
}

.view-all-users .filter-container a>img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    margin-left: 0;
}

.view-all-users .filter-container select {
    background-color: transparent;
    position: absolute;
    right: 70px;
    width: fit-content;
    color: whitesmoke;
    box-shadow: 0 0 5px black;
}

.view-all-users .filter-container select option {
    background-color: transparent;
    color: black;
}

.role-side {
    position: relative;
    width: calc(100% - 220px);
    height: calc(100vh - 140PX);
    left: 220px;
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: center;
}

.role-side form {
    position: absolute;
    height: 40%;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 3%;
    background-color: grey;
    transition: 300ms;
}

.role-side .add-role-form {
    top: 0;
    left: 0;
    background-color: lightgreen;
}

.role-side .remove-role-form {
    bottom: 0;
    left: 0;
    justify-content: start;
    background-color: rgb(243, 88, 88);
}

button {
    transition: box-shadow 0.3s ease;
}

.role-side .all-roles-container {
    position: absolute;
    right: 0;
    height: 85%;
    width: 55%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    background-color: rgb(207, 124, 64);
    transition: 300ms;
}

.role-side form h2 {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    /* text-shadow: 0px 0px 2px black; */
}

.role-side form #removeRoleName {
    margin-top: 10%;
}

.role-side form input {
    padding: 10px;
    width: 50%;
    margin: 8px;
    border-radius: 5px;
    border-color: black;
    font-size: 14px;
    text-align: left;
    letter-spacing: 1px;
    border: none;
    outline: none;
    font-weight: bold;
    color: rgb(13, 13, 54);
    transition: box-shadow 0.3s ease;
}


/* .role-side form select:first-child {
    color: grey;
} */


/* .role-side form select, option {
    width: 66%;
    font-size: 16px;
    text-align: left;
} */

.role-side form button {
    width: 28%;
    height: 40px;
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
}

.role-side form .save-btn {
    background-color: rgb(34, 189, 34);
    color: #ffffff;
}

.role-side form .remove-btn {
    background-color: red;
    color: #ffffff;
}

.role-side .all-roles-container h2 {
    padding: 20px;
}

.role-side .all-roles-container table {
    position: absolute;
    left: 5%;
    top: 70px;
    width: 90%;
    margin: 0px;
    border-collapse: collapse;
}

.role-side .all-roles-container td {
    color: whitesmoke;
}

.role-side .all-roles-container th {
    color: wheat;
    padding: 10px;
}

.role-side .all-roles-container:hover {
    box-shadow: 0 0 10px black;
}

select:focus,
button:focus {
    box-shadow: 0 0 8px rgb(5, 5, 70);
}