<html>
    <body>
        <div class="nav-bar">
            <div class="left-navbar">
                <a href="/admin-page/student-editor">Student Details</a>
                <a href="/admin-page/auth-editor">Authentication Details</a>
                <a href="/admin-page/election-editor">Election Details</a>
                <a href="/admin-page/result-editor">Election Result Details</a>
            </div>
            <div class="top-navbar">
                <a href="/admin-page"><h1>Admin Dashboard</h1></a>
                <button onclick="">LOG OUT</button>
            </div>
        </div>

        <div class="user-role-nav">
            <div class="users"><button>Users</button></div>
            <div class="roles"><button>Roles</button></div>
        </div>
    </body>
</html>